body {
  background-color: #ffbf80;
}

h1 {
  color:  brown;
  text-align:  center;
  font-family: Brush Script MT, Lucida Handwriting, cursive;
}

h2 {
  color:  brown;
  text-align:  center;
  font-family: Brush Script MT, Lucida Handwriting, cursive;
}

h3 {
  color:  brown;
  text-align:  center;
  font-family: Brush Script MT, Lucida Handwriting, cursive;
}

p {
  margin-top: 100px;
  text-align: left;
}

img {
  height: 200px;
  width: 270px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.figure-caption{
  color: brown;
  text-align: center;
  font-size: 30px;
}

p {
	font-family: Lucida Console, monospace;
}

